h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(135, 129, 120);
}

th {
    background-color: rgb(242, 238, 238);
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-left: solid 1px rgb(190, 189, 189);
    color: rgb(137, 127, 117);
}

tr {
    border-bottom: solid 1px rgb(196, 195, 195);
}

td {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-left: solid 1px rgb(209, 207, 207);
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(186, 182, 178);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button input {
    width: 25px;
    height: 25px;
    padding: 10px;
    color: rgb(4, 1, 6);
}
